<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
    <link href="/Public/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/Public/css/index_style.css" rel="stylesheet">

</head>
<body>

{__CONTENT__}

<script src="/Public/js/jquery-1.9.1.min.js"></script>
<script src="/Public/bootstrap/js/bootstrap.js"></script>
<script src="/Public/js/index_script.js"></script>
</body>
</html>